<!DOCTYPE html>



  <body class="u-body u-xl-mode" data-lang="en">
  
  
    <section class="u-clearfix u-section-1" id="sec-fb3f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-align-center u-text u-text-1">Welcome to my one stop shop to help use the safecoin block chain with little​ experience</h4>
        <h3 class="u-align-center u-text u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="https://www.safecoin.org/">Please visit safecoin's wepage for more infomation</a>
        </h3>
      </div>
    </section>
    

