<!DOCTYPE html>



    <section class="u-clearfix u-section-1" id="sec-47c3">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="https://nicepage.com/website-builder" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-1">Token BaLANCE</a>
        <h6 class="u-text u-text-1">&nbsp;</h6>
        <a href="https://nicepage.com/website-builder" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-2">mINT</a>
        <h6 class="u-text u-text-default u-text-2">Mint Amount</h6>
        <a href="https://nicepage.com/website-builder" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-3">Token Burn</a>
        <h6 class="u-text u-text-default u-text-3">Burn Amount</h6>
        <a href="https://nicepage.com/website-builder" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-4">Token Freeze</a>
        <a href="https://nicepage.com/website-builder" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-5">Token Thaw</a>
      </div>
    </section>
    
    

  
</body></html>