<!DOCTYPE html>




    <section class="u-clearfix u-section-1" id="sec-47c3" hidden="hidden">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
	  <h6 class="u-btn-2" id='TNKBallanceLB'></h6>
        <a onclick="TKNBal()" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-1">Token Balance</a>
        <a onclick="TKMint()" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-2">Mint</a>
        <input class="u-text u-text-default u-text-2" id='MintAmmt' placeholder="Mint Amount">
        <a onclick="TKNBurn()" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-3">Token Burn</a>
        <input class="u-text u-text-default u-text-3" id='BurnAmmt' placeholder='Burn Amount'>
        <a onclick="TKNFreeze()" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-4">Token Freeze</a>
        <a onclick="TKNThaw" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-5">Token Thaw</a>
      </div>
    </section>
    
    

  